@media (max-width: 571px) {
  .body {
    padding: 10px;
  }
  .nav__contact__bnt,
  .nav__list,
  .hero__texts__info br {
    display: none;
  }
  .container {
    width: 100%;
  }
  .nav__bnt {
    display: flex;
  }
  img {
    width: 100%;
  }
  .hero__wrapper {
    flex-direction: column-reverse;
    padding: 0;
    gap: 30px;
  }
  .portfolio-navigation {
    display: none;
  }

  .portfolio-header {
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  select {
    display: block;
  }

  .his-opinion {
 margin: 0;

    &__wrapper {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      padding:  29px;
      gap: 30px;
    }
    &__teks {

        &__info {
        font-size: 40px;
        font-weight: 800;
        line-height: 48px;
        text-align: left;
      }
      & img {
        width: 100%;
      }
    }
      
    
  }
}
